.App {
   text-align: center;
   padding: 0px;
}

body {
   background-image: url('./img/fondo7.png');
   background-attachment:fixed;
   background-size:cover;
}

.productor {
   font-size: 15px;
   color: yellow;
   background-color: rgb(117, 13, 13);
   display: inline-block;
   border-radius: 20%;
   border: 2px solid rgb(49, 46, 7);
   padding: 5px;
}

.landContenido {
   display: flex;
   align-items: ;
   justify-content: space-around;
}
.parrafoLanding {
   width: 50%;
   text-align: center;
   background-color: rgba(255, 235, 205, 0.37);
   border: 1px solid rgb(223, 74, 15);
   padding: 4px;
 }